// Định nghĩa các biến font chữ dùng chung

$base-font-family: 'Public Sans', sans-serif;
$base-font-size: 13px;
$base-font-title: 16px;
$base-font-subtitle: $base-font-size;

$medium-font-title: 24px;
$medium-font-subtitle: 16px;

$large-font-title: 32px;
$large-font-subtitle: 24px;

$base-font-weight: 500;
$medium-font-weight: 600;
$large-font-weight: 800;
