// Định nghĩa các biến gap và space dùng chung

$gap-0: 4px;
$gap-1: 8px;
$gap-2: 12px;
$gap-3: 16px;
$gap-4: 24px;

$base-space: 4px;
$normal-space: 8px;
$normal-space-1: 10px;
$medium-space: 12px;
$medium-space-1: 16px;
$large-space: 20px;
$larger-space: 24px;
