/**
 * Các mixin & biến SCSS dùng chung cho hệ thống Popup
 *
 * @created_at 10/07/2026
 * @author txhoan
 */
@use "@/assets/scss/style" as *;
@use "@/assets/scss/font" as *;
@use "@/assets/scss/space" as *;

@mixin popup-body {
  overflow-y: auto;
  flex: 1 1 auto;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}

@mixin popup-footer {
  display: flex;
  justify-content: flex-end;
  gap: $gap-1;
  padding: 10px 24px;
  width: 100%;
}